# Cleaning the PSGC Dataset

In [1]:
import pandas as pd
import re

In [2]:
psgc = pd.read_csv('psgc.csv.gz', dtype={'Code': str})

In [3]:
psgc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43796 entries, 0 to 43795
Data columns (total 8 columns):
Code                                 43796 non-null object
Name                                 43796 non-null object
Inter-Level                          43794 non-null object
City Class                           145 non-null object
Income
Classification                1715 non-null object
Urban / Rural (based on 2010 CPH)    42046 non-null object
POPULATION
(2015 POPCEN)             43794 non-null object
Unnamed: 7                           7 non-null object
dtypes: object(8)
memory usage: 2.7+ MB

Drop unused columns:

In [4]:
psgc = psgc.drop(columns=['City Class', 'Income\nClassification', 'Urban / Rural (based on 2010 CPH)', 'POPULATION\n(2015 POPCEN)', 'Unnamed: 7'])

In [5]:
psgc['code'] = psgc.pop('Code')
psgc['location'] = psgc.pop('Name').str.strip()
psgc['interlevel'] = psgc.pop('Inter-Level').str.strip()

In [6]:
psgc['interlevel'].value_counts()

Bgy       42044
Mun        1489
City        145
Prov         81
Reg          17
SubMun       14
Dist          4
Name: interlevel, dtype: int64

In [7]:
psgc

            code                    location interlevel
0      010000000    REGION I (ILOCOS REGION)        Reg
1      012800000                ILOCOS NORTE       Prov
2      012801000                       ADAMS        Mun
3      012801001                Adams (Pob.)        Bgy
4      012802000                     BACARRA        Mun
5      012802001                        Bani        Bgy
6      012802002                       Buyon        Bgy
7      012802003                    Cabaruan        Bgy
8      012802004                  Cabulalaan        Bgy
9      012802005                  Cabusligan        Bgy
10     012802006                   Cadaratan        Bgy
11     012802007              Calioet-Libong        Bgy
12     012802008                    Casilian        Bgy
13     012802009                     Corocor        Bgy
14     012802011                     Duripes        Bgy
15     012802012                     Ganagan        Bgy
16     012802013                     Libtong        Bgy
17     012802014                     Macupit        Bgy
18     012802015                    Nambaran        Bgy
19     012802016                       Natba        Bgy
20     012802017                    Paninaan        Bgy
21     012802018                    Pasiocan        Bgy
22     012802019                     Pasngal        Bgy
23     012802020                      Pipias        Bgy
24     012802021                     Pulangi        Bgy
25     012802022                      Pungto        Bgy
26     012802024        San Agustin I (Pob.)        Bgy
27     012802025       San Agustin II (Pob.)        Bgy
28     012802027         San Andres I (Pob.)        Bgy
29     012802028        San Andres II (Pob.)        Bgy
...          ...                         ...        ...
43766  168505004                      Helene        Bgy
43767  168505006                     Liberty        Bgy
43768  168505008                   Magsaysay        Bgy
43769  168505011                    Panamaon        Bgy
43770  168505013             San Juan (Pob.)        Bgy
43771  168505015           Santa Cruz (Pob.)        Bgy
43772  168505017             Santiago (Pob.)        Bgy
43773  168506000          SAN JOSE (Capital)        Mun
43774  168506001                     Aurelio        Bgy
43775  168506002                    Cuarinta        Bgy
43776  168506003  Don Ruben Ecleo (Baltazar)        Bgy
43777  168506004                     Jacquez        Bgy
43778  168506005            Justiniana Edera        Bgy
43779  168506006                        Luna        Bgy
43780  168506007                   Mahayahay        Bgy
43781  168506008                    Matingbe        Bgy
43782  168506009             San Jose (Pob.)        Bgy
43783  168506010                    San Juan        Bgy
43784  168506011                  Santa Cruz        Bgy
43785  168506012                      Wilson        Bgy
43786  168507000                     TUBAJON        Mun
43787  168507001                      Imelda        Bgy
43788  168507002                      Mabini        Bgy
43789  168507003                     Malinao        Bgy
43790  168507004                     Navarro        Bgy
43791  168507005            Diaz (Romualdez)        Bgy
43792  168507006                       Roxas        Bgy
43793  168507007            San Roque (Pob.)        Bgy
43794  168507008          San Vicente (Pob.)        Bgy
43795  168507009           Santa Cruz (Pob.)        Bgy

[43796 rows x 3 columns]

## Capitalize the location field

In [8]:
psgc['location'] = psgc['location'].str.upper()

## Create a duplicate of the original PSGC dataframe

In [9]:
og_psgc = psgc.copy()

## Helpers

In [10]:
pat_expand_location = re.compile('(.+)\(+([^\(\)]+)\)*')  # ¯\_(ツ)_/¯ 
def expand_location(row):
    '''
    Extracts location names inside parens and expands it
    to the new column `alt_location`
    '''
    m = pat_expand_location.search(row['location'])
    if m:
        location, alt_location = m.groups()
        return {
            **row,
            'location': location.strip(),
            'alt_location': alt_location.strip(),
        }
    return row

## Clean regions

In [11]:
regions = psgc[psgc['interlevel'] == 'Reg'].copy()

In [12]:
regions

            code                                     location interlevel
0      010000000                     REGION I (ILOCOS REGION)        Reg
3397   020000000                   REGION II (CAGAYAN VALLEY)        Reg
5807   030000000                   REGION III (CENTRAL LUZON)        Reg
9047   040000000                     REGION IV-A (CALABARZON)        Reg
13213  170000000                              MIMAROPA REGION        Reg
14752  050000000                      REGION V (BICOL REGION)        Reg
18344  060000000                  REGION VI (WESTERN VISAYAS)        Reg
22535  070000000                 REGION VII (CENTRAL VISAYAS)        Reg
25675  080000000                REGION VIII (EASTERN VISAYAS)        Reg
30215  090000000              REGION IX (ZAMBOANGA PENINSULA)        Reg
32196  100000000                 REGION X (NORTHERN MINDANAO)        Reg
34317  110000000                     REGION XI (DAVAO REGION)        Reg
35534  120000000                    REGION XII (SOCCSKSARGEN)        Reg
36785  130000000                NATIONAL CAPITAL REGION (NCR)        Reg
38531  140000000       CORDILLERA ADMINISTRATIVE REGION (CAR)        Reg
39792  150000000  AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM)        Reg
42406  160000000                         REGION XIII (CARAGA)        Reg

Alternate names inside parens so we expand those out to a new column named `alt_location`.

In [13]:
regions = regions.apply(expand_location, axis=1, result_type='expand').fillna('')

In [14]:
regions

,alt_location,code,interlevel,location
0,ILOCOS REGION,010000000,Reg,REGION I
3397,CAGAYAN VALLEY,020000000,Reg,REGION II
5807,CENTRAL LUZON,030000000,Reg,REGION III
9047,CALABARZON,040000000,Reg,REGION IV-A
13213,,170000000,Reg,MIMAROPA REGION
14752,BICOL REGION,050000000,Reg,REGION V
18344,WESTERN VISAYAS,060000000,Reg,REGION VI
22535,CENTRAL VISAYAS,070000000,Reg,REGION VII
25675,EASTERN VISAYAS,080000000,Reg,REGION VIII
30215,ZAMBOANGA PENINSULA,090000000,Reg,REGION IX
32196,NORTHERN MINDANAO,100000000,Reg,REGION X
34317,DAVAO REGION,110000000,Reg,REGION XI
35534,SOCCSKSARGEN,120000000,Reg,REGION XII
36785,NCR,130000000,Reg,NATIONAL CAPITAL REGION
38531,CAR,140000000,Reg,CORDILLERA ADMINISTRATIVE REGION
39792,ARMM,150000000,Reg,AUTONOMOUS REGION IN MUSLIM MINDANAO
42406,CARAGA,160000000,Reg,REGION XIII

## Clean provinces

In [15]:
provinces = psgc[psgc['interlevel'] == 'Prov'].copy()

In [16]:
provinces

            code                   location interlevel
1      012800000               ILOCOS NORTE       Prov
584    012900000                 ILOCOS SUR       Prov
1387   013300000                   LA UNION       Prov
1984   015500000                 PANGASINAN       Prov
3398   020900000                    BATANES       Prov
3434   021500000                    CAGAYAN       Prov
4284   023100000                    ISABELA       Prov
5377   025000000              NUEVA VIZCAYA       Prov
5668   025700000                    QUIRINO       Prov
5808   030800000                     BATAAN       Prov
6058   031400000                    BULACAN       Prov
6652   034900000                NUEVA ECIJA       Prov
7534   035400000                   PAMPANGA       Prov
8095   036900000                     TARLAC       Prov
8625   037100000                   ZAMBALES       Prov
8887   037700000                     AURORA       Prov
9048   041000000                   BATANGAS       Prov
10161  042100000                     CAVITE       Prov
11014  043400000                     LAGUNA       Prov
11726  045600000                     QUEZON       Prov
13010  045800000                      RIZAL       Prov
13214  174000000                 MARINDUQUE       Prov
13439  175100000         OCCIDENTAL MINDORO       Prov
13615  175200000           ORIENTAL MINDORO       Prov
14057  175300000                    PALAWAN       Prov
14515  175900000                    ROMBLON       Prov
14753  050500000                      ALBAY       Prov
15492  051600000            CAMARINES NORTE       Prov
15787  051700000              CAMARINES SUR       Prov
16888  052000000                CATANDUANES       Prov
...          ...                        ...        ...
32197  101300000                   BUKIDNON       Prov
32684  101800000                   CAMIGUIN       Prov
32748  103500000            LANAO DEL NORTE       Prov
33278  104200000         MISAMIS OCCIDENTAL       Prov
33786  104300000           MISAMIS ORIENTAL       Prov
34318  112300000            DAVAO DEL NORTE       Prov
34553  112400000              DAVAO DEL SUR       Prov
34979  112500000             DAVAO ORIENTAL       Prov
35174  118200000          COMPOSTELA VALLEY       Prov
35423  118600000           DAVAO OCCIDENTAL       Prov
35535  124700000  COTABATO (NORTH COTABATO)       Prov
36097  126300000             SOUTH COTABATO       Prov
36335  126500000             SULTAN KUDARAT       Prov
36597  128000000                  SARANGANI       Prov
38532  140100000                       ABRA       Prov
38863  141100000                    BENGUET       Prov
39147  142700000                     IFUGAO       Prov
39335  143200000                    KALINGA       Prov
39496  144400000          MOUNTAIN PROVINCE       Prov
39651  148100000                     APAYAO       Prov
39793  150700000                    BASILAN       Prov
40016  153600000              LANAO DEL SUR       Prov
41216  153800000                MAGUINDANAO       Prov
41761  156600000                       SULU       Prov
42191  157000000                  TAWI-TAWI       Prov
42407  160200000           AGUSAN DEL NORTE       Prov
42673  160300000             AGUSAN DEL SUR       Prov
43002  166700000          SURIGAO DEL NORTE       Prov
43359  166800000            SURIGAO DEL SUR       Prov
43688  168500000            DINAGAT ISLANDS       Prov

[81 rows x 3 columns]

Seems normal... But let's check for parens just in case:

In [17]:
provinces[provinces['location'].str.contains('[\(\)]')]

            code                   location interlevel
28576  086000000      SAMAR (WESTERN SAMAR)       Prov
35535  124700000  COTABATO (NORTH COTABATO)       Prov

Sneaky alternate names!

In [18]:
provinces = provinces.apply(expand_location, axis=1, result_type='expand').fillna('')

In [19]:
provinces

         alt_location       code interlevel            location
1                      012800000       Prov        ILOCOS NORTE
584                    012900000       Prov          ILOCOS SUR
1387                   013300000       Prov            LA UNION
1984                   015500000       Prov          PANGASINAN
3398                   020900000       Prov             BATANES
3434                   021500000       Prov             CAGAYAN
4284                   023100000       Prov             ISABELA
5377                   025000000       Prov       NUEVA VIZCAYA
5668                   025700000       Prov             QUIRINO
5808                   030800000       Prov              BATAAN
6058                   031400000       Prov             BULACAN
6652                   034900000       Prov         NUEVA ECIJA
7534                   035400000       Prov            PAMPANGA
8095                   036900000       Prov              TARLAC
8625                   037100000       Prov            ZAMBALES
8887                   037700000       Prov              AURORA
9048                   041000000       Prov            BATANGAS
10161                  042100000       Prov              CAVITE
11014                  043400000       Prov              LAGUNA
11726                  045600000       Prov              QUEZON
13010                  045800000       Prov               RIZAL
13214                  174000000       Prov          MARINDUQUE
13439                  175100000       Prov  OCCIDENTAL MINDORO
13615                  175200000       Prov    ORIENTAL MINDORO
14057                  175300000       Prov             PALAWAN
14515                  175900000       Prov             ROMBLON
14753                  050500000       Prov               ALBAY
15492                  051600000       Prov     CAMARINES NORTE
15787                  051700000       Prov       CAMARINES SUR
16888                  052000000       Prov         CATANDUANES
...               ...        ...        ...                 ...
32197                  101300000       Prov            BUKIDNON
32684                  101800000       Prov            CAMIGUIN
32748                  103500000       Prov     LANAO DEL NORTE
33278                  104200000       Prov  MISAMIS OCCIDENTAL
33786                  104300000       Prov    MISAMIS ORIENTAL
34318                  112300000       Prov     DAVAO DEL NORTE
34553                  112400000       Prov       DAVAO DEL SUR
34979                  112500000       Prov      DAVAO ORIENTAL
35174                  118200000       Prov   COMPOSTELA VALLEY
35423                  118600000       Prov    DAVAO OCCIDENTAL
35535  NORTH COTABATO  124700000       Prov            COTABATO
36097                  126300000       Prov      SOUTH COTABATO
36335                  126500000       Prov      SULTAN KUDARAT
36597                  128000000       Prov           SARANGANI
38532                  140100000       Prov                ABRA
38863                  141100000       Prov             BENGUET
39147                  142700000       Prov              IFUGAO
39335                  143200000       Prov             KALINGA
39496                  144400000       Prov   MOUNTAIN PROVINCE
39651                  148100000       Prov              APAYAO
39793                  150700000       Prov             BASILAN
40016                  153600000       Prov       LANAO DEL SUR
41216                  153800000       Prov         MAGUINDANAO
41761                  156600000       Prov                SULU
42191                  157000000       Prov           TAWI-TAWI
42407                  160200000       Prov    AGUSAN DEL NORTE
42673                  160300000       Prov      AGUSAN DEL SUR
43002                  166700000       Prov   SURIGAO DEL NORTE
43359                  166800000       Prov     SURIGAO DEL SUR
43688                  168500000       Prov     DINAGAT ISLANDS

[81 rows x 4 columns]

## Clean districts

In [20]:
districts = psgc[psgc['interlevel'] == 'Dist'].copy()

In [21]:
districts

            code                                           location interlevel
36786  133900000  NCR, CITY OF MANILA, FIRST DISTRICT (NOT A PRO...       Dist
37699  137400000              NCR, SECOND DISTRICT (NOT A PROVINCE)       Dist
37941  137500000               NCR, THIRD DISTRICT (NOT A PROVINCE)       Dist
38206  137600000              NCR, FOURTH DISTRICT (NOT A PROVINCE)       Dist

No one writes `NTH DISTRICT (Not a Province)` in their addresses...

In [22]:
districts['location'] = (districts['location']
                         .str.replace(',.+DISTRICT \(Not a Province\)', '')
                         .str.strip())

In [23]:
districts

            code                                           location interlevel
36786  133900000  NCR, CITY OF MANILA, FIRST DISTRICT (NOT A PRO...       Dist
37699  137400000              NCR, SECOND DISTRICT (NOT A PROVINCE)       Dist
37941  137500000               NCR, THIRD DISTRICT (NOT A PROVINCE)       Dist
38206  137600000              NCR, FOURTH DISTRICT (NOT A PROVINCE)       Dist

## Clean municipalities

In [24]:
municipalities = psgc[psgc['interlevel'] == 'Mun'].copy()

In [25]:
municipalities

            code                         location interlevel
2      012801000                            ADAMS        Mun
4      012802000                          BACARRA        Mun
48     012803000                            BADOC        Mun
80     012804000                           BANGUI        Mun
139    012806000                           BURGOS        Mun
151    012807000                           CARASI        Mun
155    012808000                         CURRIMAO        Mun
179    012809000                          DINGRAS        Mun
211    012810000                         DUMALNEG        Mun
216    012811000                 BANNA (ESPIRITU)        Mun
318    012813000                           MARCOS        Mun
332    012814000                        NUEVA ERA        Mun
344    012815000                         PAGUDPUD        Mun
361    012816000                            PAOAY        Mun
393    012817000                         PASUQUIN        Mun
427    012818000                           PIDDIG        Mun
451    012819000                           PINILI        Mun
477    012820000                      SAN NICOLAS        Mun
502    012821000                           SARRAT        Mun
527    012822000                          SOLSONA        Mun
550    012823000                           VINTAR        Mun
585    012901000                           ALILEM        Mun
595    012902000                         BANAYOYO        Mun
610    012903000                           BANTAY        Mun
645    012904000                           BURGOS        Mun
672    012905000                          CABUGAO        Mun
749    012907000                          CAOAYAN        Mun
767    012908000                        CERVANTES        Mun
781    012909000                        GALIMUYOD        Mun
806    012910000  GREGORIO DEL PILAR (CONCEPCION)        Mun
...          ...                              ...        ...
43226  166720000                       SAN ISIDRO        Mun
43239  166721000             SANTA MONICA (SAPAO)        Mun
43251  166722000                            SISON        Mun
43264  166723000                          SOCORRO        Mun
43334  166725000                        TAGANA-AN        Mun
43349  166727000                            TUBOD        Mun
43360  166801000                           BAROBO        Mun
43382  166802000                          BAYABAS        Mun
43415  166804000                          CAGWAIT        Mun
43427  166805000                         CANTILAN        Mun
43445  166806000                           CARMEN        Mun
43454  166807000                        CARRASCAL        Mun
43469  166808000                           CORTES        Mun
43482  166809000                         HINATUAN        Mun
43507  166810000                           LANUZA        Mun
43521  166811000                           LIANGA        Mun
43535  166812000                           LINGIG        Mun
43554  166813000                           MADRID        Mun
43569  166814000                        MARIHATAG        Mun
43582  166815000                      SAN AGUSTIN        Mun
43596  166816000                       SAN MIGUEL        Mun
43615  166817000                          TAGBINA        Mun
43641  166818000                             TAGO        Mun
43689  168501000                 BASILISA (RIZAL)        Mun
43717  168502000                        CAGDIANAO        Mun
43732  168503000                          DINAGAT        Mun
43745  168504000                    LIBJO (ALBOR)        Mun
43762  168505000                           LORETO        Mun
43773  168506000               SAN JOSE (CAPITAL)        Mun
43786  168507000                          TUBAJON        Mun

[1489 rows x 3 columns]

A few alternate names but what are those `(Capital)` ones?

In [26]:
municipalities[municipalities['location'].str.contains('[\(\)]')]

            code                           location interlevel
216    012811000                   BANNA (ESPIRITU)        Mun
806    012910000    GREGORIO DEL PILAR (CONCEPCION)        Mun
905    012915000                  QUIRINO (ANGKAKI)        Mun
915    012916000                   SALCEDO (BAUGEN)        Mun
973    012920000                   SAN JUAN (LAPOG)        Mun
2514   015522000                 LINGAYEN (CAPITAL)        Mun
3399   020901000                    BASCO (CAPITAL)        Mun
4130   021526000                 SANTO NIÑO (FAIRE)        Mun
4870   023118000          DELFIN ALBANO (MAGSAYSAY)        Mun
5454   025005000                BAYOMBONG (CAPITAL)        Mun
5695   025702000              CABARROGUIS (CAPITAL)        Mun
6076   031402000                   BALAGTAS (BIGAA)        Mun
6893   034907000        GABALDON (BITULOK & SABANI)        Mun
6955   034910000             GENERAL TINIO (PAPAYA)        Mun
8082   035422000                  SASMUAN (SEXMOAN)        Mun
8713   037105000                      IBA (CAPITAL)        Mun
8888   037701000                    BALER (CAPITAL)        Mun
10725  042114000              MENDEZ (MENDEZ-NUÑEZ)        Mun
11623  043426000               SANTA CRUZ (CAPITAL)        Mun
12742  045642000             SAN FRANCISCO (AURORA)        Mun
13130  045808000              RODRIGUEZ (MONTALBAN)        Mun
13215  174001000                     BOAC (CAPITAL)        Mun
13499  175106000                 MAMBURAO (CAPITAL)        Mun
13695  175204000              BULALACAO (SAN PEDRO)        Mun
14253  175312000                   EL NIDO (BACUIT)        Mun
14493  175323000                     RIZAL (MARCOS)        Mun
14645  175910000                  ROMBLON (CAPITAL)        Mun
14745  175917000               SANTA MARIA (IMELDA)        Mun
14862  050503000                    DARAGA (LOCSIN)        Mun
15394  050516000              SANTO DOMINGO (LIBOG)        Mun
...          ...                                ...        ...
39085  141110000              LA TRINIDAD (CAPITAL)        Mun
39192  142704000                   LAGAWE (CAPITAL)        Mun
39260  142707000              ALFONSO LISTA (POTIA)        Mun
39400  143211000                      RIZAL (LIWAN)        Mun
39547  144404000                   BONTOC (CAPITAL)        Mun
39652  148101000                  CALANASAN (BAYAG)        Mun
39710  148104000                  KABUGAO (CAPITAL)        Mun
40017  153601000    BACOLOD-KALAWI (BACOLOD GRANDE)        Mun
40072  153603000                   BALINDONG (WATU)        Mun
40296  153611000            LUMBA-BAYABAO (MAGUING)        Mun
40653  153620000              PAGAYAWAN (TATARIKAN)        Mun
40710  153622000               POONA BAYABAO (GATA)        Mun
41101  153635000           PICONG (SULTAN GUMANDER)        Mun
41294  153807000         DATU ODIN SINSUAT (DINAIG)        Mun
41329  153808000  SHARIFF AGUAK (MAGANOY) (CAPITAL)        Mun
41391  153812000            SULTAN KUDARAT (NULING)        Mun
41431  153813000     SULTAN SA BARONGIS (LAMBAYONG)        Mun
41444  153814000                KABUNTALAN (TUMBAO)        Mun
41797  156602000                     JOLO (CAPITAL)        Mun
41857  156606000   HADJI PANGLIMA TAHIL (MARUNGGAS)        Mun
42134  156616000      PANGLIMA ESTINO (NEW PANAMAO)        Mun
42192  157001000        PANGLIMA SUGALA (BALIMBING)        Mun
42210  157002000                   BONGAO (CAPITAL)        Mun
42246  157003000       MAPUN (CAGAYAN DE TAWI-TAWI)        Mun
42811  160306000              PROSPERIDAD (CAPITAL)        Mun
43214  166719000           SAN FRANCISCO (ANAO-AON)        Mun
43239  166721000               SANTA MONICA (SAPAO)        Mun
43689  168501000                   BASILISA (RIZAL)        Mun
43745  168504000                      LIBJO (ALBOR)        Mun
43773  168506000                 SAN JOSE (CAPITAL)        Mun

[109 rows x 3 columns]

Apparently, they are capitals of their provinces. Safe to strip!

In [27]:
municipalities['location'] = municipalities['location'].str.replace('\(Capital\)', '').str.strip()

In [28]:
municipalities = municipalities.apply(expand_location, axis=1, result_type='expand').fillna('')

In [29]:
municipalities

      alt_location       code interlevel            location
2                   012801000        Mun               ADAMS
4                   012802000        Mun             BACARRA
48                  012803000        Mun               BADOC
80                  012804000        Mun              BANGUI
139                 012806000        Mun              BURGOS
151                 012807000        Mun              CARASI
155                 012808000        Mun            CURRIMAO
179                 012809000        Mun             DINGRAS
211                 012810000        Mun            DUMALNEG
216       ESPIRITU  012811000        Mun               BANNA
318                 012813000        Mun              MARCOS
332                 012814000        Mun           NUEVA ERA
344                 012815000        Mun            PAGUDPUD
361                 012816000        Mun               PAOAY
393                 012817000        Mun            PASUQUIN
427                 012818000        Mun              PIDDIG
451                 012819000        Mun              PINILI
477                 012820000        Mun         SAN NICOLAS
502                 012821000        Mun              SARRAT
527                 012822000        Mun             SOLSONA
550                 012823000        Mun              VINTAR
585                 012901000        Mun              ALILEM
595                 012902000        Mun            BANAYOYO
610                 012903000        Mun              BANTAY
645                 012904000        Mun              BURGOS
672                 012905000        Mun             CABUGAO
749                 012907000        Mun             CAOAYAN
767                 012908000        Mun           CERVANTES
781                 012909000        Mun           GALIMUYOD
806     CONCEPCION  012910000        Mun  GREGORIO DEL PILAR
...            ...        ...        ...                 ...
43226               166720000        Mun          SAN ISIDRO
43239        SAPAO  166721000        Mun        SANTA MONICA
43251               166722000        Mun               SISON
43264               166723000        Mun             SOCORRO
43334               166725000        Mun           TAGANA-AN
43349               166727000        Mun               TUBOD
43360               166801000        Mun              BAROBO
43382               166802000        Mun             BAYABAS
43415               166804000        Mun             CAGWAIT
43427               166805000        Mun            CANTILAN
43445               166806000        Mun              CARMEN
43454               166807000        Mun           CARRASCAL
43469               166808000        Mun              CORTES
43482               166809000        Mun            HINATUAN
43507               166810000        Mun              LANUZA
43521               166811000        Mun              LIANGA
43535               166812000        Mun              LINGIG
43554               166813000        Mun              MADRID
43569               166814000        Mun           MARIHATAG
43582               166815000        Mun         SAN AGUSTIN
43596               166816000        Mun          SAN MIGUEL
43615               166817000        Mun             TAGBINA
43641               166818000        Mun                TAGO
43689        RIZAL  168501000        Mun            BASILISA
43717               168502000        Mun           CAGDIANAO
43732               168503000        Mun             DINAGAT
43745        ALBOR  168504000        Mun               LIBJO
43762               168505000        Mun              LORETO
43773      CAPITAL  168506000        Mun            SAN JOSE
43786               168507000        Mun             TUBAJON

[1489 rows x 4 columns]

## Clean cities

In [30]:
cities = psgc[psgc['interlevel'] == 'City'].copy()

In [31]:
cities

            code                            location interlevel
95     012805000                       CITY OF BATAC       City
237    012812000             CITY OF LAOAG (CAPITAL)       City
706    012906000                      CITY OF CANDON       City
1347   012934000             CITY OF VIGAN (CAPITAL)       City
1792   013314000      CITY OF SAN FERNANDO (CAPITAL)       City
2020   015503000                    CITY OF ALAMINOS       City
2438   015518000                     CITY OF DAGUPAN       City
2887   015532000                  CITY OF SAN CARLOS       City
3317   015546000                    CITY OF URDANETA       City
4234   021529000           TUGUEGARAO CITY (CAPITAL)       City
4509   023108000                     CITY OF CAUAYAN       City
4704   023114000            CITY OF ILAGAN (CAPITAL)       City
5264   023135000                    CITY OF SANTIAGO       City
5834   030803000           CITY OF BALANGA (CAPITAL)       City
6236   031410000           CITY OF MALOLOS (CAPITAL)       City
6305   031412000                  CITY OF MEYCAUAYAN       City
6473   031420000          CITY OF SAN JOSE DEL MONTE       City
6709   034903000                  CITY OF CABANATUAN       City
6910   034908000                       CITY OF GAPAN       City
7140   034917000               SCIENCE CITY OF MUÑOZ       City
7200   034919000           CITY OF PALAYAN (CAPITAL)       City
7317   034926000                       SAN JOSE CITY       City
7535   035401000                     CITY OF ANGELES       City
7780   035409000                      MABALACAT CITY       City
7979   035416000      CITY OF SAN FERNANDO (CAPITAL)       City
8507   036916000            CITY OF TARLAC (CAPITAL)       City
8742   037107000                    CITY OF OLONGAPO       City
9154   041005000             BATANGAS CITY (CAPITAL)       City
9506   041014000                        CITY OF LIPA       City
10052  041031000                     CITY OF TANAUAN       City
...          ...                                 ...        ...
36121  126303000  CITY OF GENERAL SANTOS (DADIANGAS)       City
36148  126306000         CITY OF KORONADAL (CAPITAL)       City
36555  126511000                    CITY OF TACURONG       City
36747  129804000                    CITY OF COTABATO       City
36787  133900000                      CITY OF MANILA       City
37700  137401000                 CITY OF MANDALUYONG       City
37728  137402000                    CITY OF MARIKINA       City
37745  137403000                       CITY OF PASIG       City
37776  137404000                         QUEZON CITY       City
37919  137405000                    CITY OF SAN JUAN       City
37942  137501000                    CITY OF CALOOCAN       City
38131  137502000                     CITY OF MALABON       City
38153  137503000                     CITY OF NAVOTAS       City
38172  137504000                  CITY OF VALENZUELA       City
38207  137601000                   CITY OF LAS PIÑAS       City
38228  137602000                      CITY OF MAKATI       City
38262  137603000                  CITY OF MUNTINLUPA       City
38272  137604000                   CITY OF PARAÑAQUE       City
38289  137605000                          PASAY CITY       City
38502  137607000                      CITY OF TAGUIG       City
38873  141102000                      CITY OF BAGUIO       City
39415  143213000             CITY OF TABUK (CAPITAL)       City
39794  150702000           CITY OF LAMITAN (CAPITAL)       City
40493  153617000            CITY OF MARAWI (CAPITAL)       City
42434  160202000            CITY OF BUTUAN (CAPITAL)       City
42521  160203000                  CITY OF CABADBARAN       City
42674  160301000                     CITY OF BAYUGAN       City
43279  166724000           CITY OF SURIGAO (CAPITAL)       City
43390  166803000                      CITY OF BISLIG       City
43666  166819000            CITY OF TANDAG (CAPITAL)       City

[145 rows x 3 columns]

Here we go with the `(Capital)` thing again.

In [32]:
cities['location'] =  cities['location'].str.replace('\(Capital\)', '').str.strip()

Checking if there are still stuff with parens:

In [33]:
cities[cities['location'].str.contains('[\(\)]')].head()

           code                        location interlevel
237   012812000         CITY OF LAOAG (CAPITAL)       City
1347  012934000         CITY OF VIGAN (CAPITAL)       City
1792  013314000  CITY OF SAN FERNANDO (CAPITAL)       City
4234  021529000       TUGUEGARAO CITY (CAPITAL)       City
4704  023114000        CITY OF ILAGAN (CAPITAL)       City

A few alterate names!

In [34]:
cities = cities.apply(expand_location, axis=1, result_type='expand').fillna('')

Now what about those `CITY` pre/suffixes?

In [35]:
cities[cities['location'].str.contains('CITY')]

      alt_location       code interlevel                    location
95                  012805000       City               CITY OF BATAC
237        CAPITAL  012812000       City               CITY OF LAOAG
706                 012906000       City              CITY OF CANDON
1347       CAPITAL  012934000       City               CITY OF VIGAN
1792       CAPITAL  013314000       City        CITY OF SAN FERNANDO
2020                015503000       City            CITY OF ALAMINOS
2438                015518000       City             CITY OF DAGUPAN
2887                015532000       City          CITY OF SAN CARLOS
3317                015546000       City            CITY OF URDANETA
4234       CAPITAL  021529000       City             TUGUEGARAO CITY
4509                023108000       City             CITY OF CAUAYAN
4704       CAPITAL  023114000       City              CITY OF ILAGAN
5264                023135000       City            CITY OF SANTIAGO
5834       CAPITAL  030803000       City             CITY OF BALANGA
6236       CAPITAL  031410000       City             CITY OF MALOLOS
6305                031412000       City          CITY OF MEYCAUAYAN
6473                031420000       City  CITY OF SAN JOSE DEL MONTE
6709                034903000       City          CITY OF CABANATUAN
6910                034908000       City               CITY OF GAPAN
7140                034917000       City       SCIENCE CITY OF MUÑOZ
7200       CAPITAL  034919000       City             CITY OF PALAYAN
7317                034926000       City               SAN JOSE CITY
7535                035401000       City             CITY OF ANGELES
7780                035409000       City              MABALACAT CITY
7979       CAPITAL  035416000       City        CITY OF SAN FERNANDO
8507       CAPITAL  036916000       City              CITY OF TARLAC
8742                037107000       City            CITY OF OLONGAPO
9154       CAPITAL  041005000       City               BATANGAS CITY
9506                041014000       City                CITY OF LIPA
10052               041031000       City             CITY OF TANAUAN
...            ...        ...        ...                         ...
36121    DADIANGAS  126303000       City      CITY OF GENERAL SANTOS
36148      CAPITAL  126306000       City           CITY OF KORONADAL
36555               126511000       City            CITY OF TACURONG
36747               129804000       City            CITY OF COTABATO
36787               133900000       City              CITY OF MANILA
37700               137401000       City         CITY OF MANDALUYONG
37728               137402000       City            CITY OF MARIKINA
37745               137403000       City               CITY OF PASIG
37776               137404000       City                 QUEZON CITY
37919               137405000       City            CITY OF SAN JUAN
37942               137501000       City            CITY OF CALOOCAN
38131               137502000       City             CITY OF MALABON
38153               137503000       City             CITY OF NAVOTAS
38172               137504000       City          CITY OF VALENZUELA
38207               137601000       City           CITY OF LAS PIÑAS
38228               137602000       City              CITY OF MAKATI
38262               137603000       City          CITY OF MUNTINLUPA
38272               137604000       City           CITY OF PARAÑAQUE
38289               137605000       City                  PASAY CITY
38502               137607000       City              CITY OF TAGUIG
38873               141102000       City              CITY OF BAGUIO
39415      CAPITAL  143213000       City               CITY OF TABUK
39794      CAPITAL  150702000       City             CITY OF LAMITAN
40493      CAPITAL  153617000       City              CITY OF MARAWI
42434      CAPITAL  160202000       City              CITY OF BUTUAN
42521               160203000       City          CITY OF CABADBARAN
42674               160301000       City             CITY OF BAYUGAN
43279      CAPITAL  166724000       City             CITY OF SURIGAO
43390               166803000       City              CITY OF BISLIG
43666      CAPITAL  166819000       City              CITY OF TANDAG

[145 rows x 4 columns]

In [36]:
cities['location'] = (cities['location']
 .str.replace('^.*CITY OF', '')
 .str.strip()
 .str.replace('CITY$', '')
 .str.strip())

In [37]:
cities

      alt_location       code interlevel            location
95                  012805000       City               BATAC
237        CAPITAL  012812000       City               LAOAG
706                 012906000       City              CANDON
1347       CAPITAL  012934000       City               VIGAN
1792       CAPITAL  013314000       City        SAN FERNANDO
2020                015503000       City            ALAMINOS
2438                015518000       City             DAGUPAN
2887                015532000       City          SAN CARLOS
3317                015546000       City            URDANETA
4234       CAPITAL  021529000       City          TUGUEGARAO
4509                023108000       City             CAUAYAN
4704       CAPITAL  023114000       City              ILAGAN
5264                023135000       City            SANTIAGO
5834       CAPITAL  030803000       City             BALANGA
6236       CAPITAL  031410000       City             MALOLOS
6305                031412000       City          MEYCAUAYAN
6473                031420000       City  SAN JOSE DEL MONTE
6709                034903000       City          CABANATUAN
6910                034908000       City               GAPAN
7140                034917000       City               MUÑOZ
7200       CAPITAL  034919000       City             PALAYAN
7317                034926000       City            SAN JOSE
7535                035401000       City             ANGELES
7780                035409000       City           MABALACAT
7979       CAPITAL  035416000       City        SAN FERNANDO
8507       CAPITAL  036916000       City              TARLAC
8742                037107000       City            OLONGAPO
9154       CAPITAL  041005000       City            BATANGAS
9506                041014000       City                LIPA
10052               041031000       City             TANAUAN
...            ...        ...        ...                 ...
36121    DADIANGAS  126303000       City      GENERAL SANTOS
36148      CAPITAL  126306000       City           KORONADAL
36555               126511000       City            TACURONG
36747               129804000       City            COTABATO
36787               133900000       City              MANILA
37700               137401000       City         MANDALUYONG
37728               137402000       City            MARIKINA
37745               137403000       City               PASIG
37776               137404000       City              QUEZON
37919               137405000       City            SAN JUAN
37942               137501000       City            CALOOCAN
38131               137502000       City             MALABON
38153               137503000       City             NAVOTAS
38172               137504000       City          VALENZUELA
38207               137601000       City           LAS PIÑAS
38228               137602000       City              MAKATI
38262               137603000       City          MUNTINLUPA
38272               137604000       City           PARAÑAQUE
38289               137605000       City               PASAY
38502               137607000       City              TAGUIG
38873               141102000       City              BAGUIO
39415      CAPITAL  143213000       City               TABUK
39794      CAPITAL  150702000       City             LAMITAN
40493      CAPITAL  153617000       City              MARAWI
42434      CAPITAL  160202000       City              BUTUAN
42521               160203000       City          CABADBARAN
42674               160301000       City             BAYUGAN
43279      CAPITAL  166724000       City             SURIGAO
43390               166803000       City              BISLIG
43666      CAPITAL  166819000       City              TANDAG

[145 rows x 4 columns]

## Clean sub-municipalities

In [38]:
sub_municipalities = psgc[psgc['interlevel'] == 'SubMun'].copy()

In [39]:
sub_municipalities

            code     location interlevel
36788  133901000   TONDO I/II     SubMun
37048  133902000      BINONDO     SubMun
37059  133903000       QUIAPO     SubMun
37076  133904000  SAN NICOLAS     SubMun
37092  133905000   SANTA CRUZ     SubMun
37175  133906000     SAMPALOC     SubMun
37419  133907000   SAN MIGUEL     SubMun
37432  133908000       ERMITA     SubMun
37446  133909000   INTRAMUROS     SubMun
37452  133910000       MALATE     SubMun
37510  133911000         PACO     SubMun
37554  133912000     PANDACAN     SubMun
37593  133913000    PORT AREA     SubMun
37599  133914000    SANTA ANA     SubMun

Nothing special!

## Clean barangays

In [40]:
barangays = psgc[psgc['interlevel'] == 'Bgy'].copy()

In [41]:
barangays

            code                    location interlevel
3      012801001                ADAMS (POB.)        Bgy
5      012802001                        BANI        Bgy
6      012802002                       BUYON        Bgy
7      012802003                    CABARUAN        Bgy
8      012802004                  CABULALAAN        Bgy
9      012802005                  CABUSLIGAN        Bgy
10     012802006                   CADARATAN        Bgy
11     012802007              CALIOET-LIBONG        Bgy
12     012802008                    CASILIAN        Bgy
13     012802009                     COROCOR        Bgy
14     012802011                     DURIPES        Bgy
15     012802012                     GANAGAN        Bgy
16     012802013                     LIBTONG        Bgy
17     012802014                     MACUPIT        Bgy
18     012802015                    NAMBARAN        Bgy
19     012802016                       NATBA        Bgy
20     012802017                    PANINAAN        Bgy
21     012802018                    PASIOCAN        Bgy
22     012802019                     PASNGAL        Bgy
23     012802020                      PIPIAS        Bgy
24     012802021                     PULANGI        Bgy
25     012802022                      PUNGTO        Bgy
26     012802024        SAN AGUSTIN I (POB.)        Bgy
27     012802025       SAN AGUSTIN II (POB.)        Bgy
28     012802027         SAN ANDRES I (POB.)        Bgy
29     012802028        SAN ANDRES II (POB.)        Bgy
30     012802030        SAN GABRIEL I (POB.)        Bgy
31     012802031       SAN GABRIEL II (POB.)        Bgy
32     012802033          SAN PEDRO I (POB.)        Bgy
33     012802034         SAN PEDRO II (POB.)        Bgy
...          ...                         ...        ...
43764  168505002                   ESPERANZA        Bgy
43765  168505003                   FERDINAND        Bgy
43766  168505004                      HELENE        Bgy
43767  168505006                     LIBERTY        Bgy
43768  168505008                   MAGSAYSAY        Bgy
43769  168505011                    PANAMAON        Bgy
43770  168505013             SAN JUAN (POB.)        Bgy
43771  168505015           SANTA CRUZ (POB.)        Bgy
43772  168505017             SANTIAGO (POB.)        Bgy
43774  168506001                     AURELIO        Bgy
43775  168506002                    CUARINTA        Bgy
43776  168506003  DON RUBEN ECLEO (BALTAZAR)        Bgy
43777  168506004                     JACQUEZ        Bgy
43778  168506005            JUSTINIANA EDERA        Bgy
43779  168506006                        LUNA        Bgy
43780  168506007                   MAHAYAHAY        Bgy
43781  168506008                    MATINGBE        Bgy
43782  168506009             SAN JOSE (POB.)        Bgy
43783  168506010                    SAN JUAN        Bgy
43784  168506011                  SANTA CRUZ        Bgy
43785  168506012                      WILSON        Bgy
43787  168507001                      IMELDA        Bgy
43788  168507002                      MABINI        Bgy
43789  168507003                     MALINAO        Bgy
43790  168507004                     NAVARRO        Bgy
43791  168507005            DIAZ (ROMUALDEZ)        Bgy
43792  168507006                       ROXAS        Bgy
43793  168507007            SAN ROQUE (POB.)        Bgy
43794  168507008          SAN VICENTE (POB.)        Bgy
43795  168507009           SANTA CRUZ (POB.)        Bgy

[42044 rows x 3 columns]

We see alternate names again but notice the `(Pob.)` suffixes. A quick Google search shows that it's short for `Poblacion` which is used to denote the commercial and industrial center of a city.

In [42]:
barangays['location'] = (barangays['location']
                         .str.replace('\(?POB\.\)?', '')
                         .str.strip())

Let's check for more weird characters:

In [43]:
barangays[barangays['location'].str.contains('[^A-ZÑ0-9\-.\/\(\) ]')]

            code                                           location interlevel
238    012812001                                 BGY. NO. 42, APAYA        Bgy
239    012812002                                BGY. NO. 36, ARANIW        Bgy
240    012812003                        BGY. NO. 56-A, BACSIL NORTH        Bgy
241    012812004                        BGY. NO. 56-B, BACSIL SOUTH        Bgy
242    012812005                               BGY. NO. 41, BALACAD        Bgy
243    012812006                              BGY. NO. 40, BALATONG        Bgy
244    012812007                        BGY. NO. 55-A, BARIT-PANDAN        Bgy
245    012812008                               BGY. NO. 47, BENGCAG        Bgy
246    012812009                               BGY. NO. 50, BUTTONG        Bgy
247    012812010                            BGY. NO. 60-A, CAAOACAN        Bgy
248    012812011                     BRY. NO. 48-A, CABUNGAAN NORTH        Bgy
249    012812012                     BGY. NO. 48-B, CABUNGAAN SOUTH        Bgy
250    012812013                               BGY. NO. 37, CALAYAB        Bgy
251    012812014                           BGY. NO. 54-B, CAMANGAAN        Bgy
252    012812015                                BGY. NO. 58, CASILI        Bgy
253    012812016                               BGY. NO. 61, CATABAN        Bgy
254    012812017                                 BGY. NO. 43, CAVIT        Bgy
255    012812019                            BGY. NO. 49-A, DARAYDAY        Bgy
256    012812020                         BGY. NO. 59-B, DIBUA NORTH        Bgy
257    012812021                         BGY. NO. 59-A, DIBUA SOUTH        Bgy
258    012812022                     BGY. NO. 34-B, GABU NORTE EAST        Bgy
259    012812023                     BGY. NO. 34-A, GABU NORTE WEST        Bgy
260    012812024                              BGY. NO. 35, GABU SUR        Bgy
262    012812027                       BGY. NO. 33-B, LA PAZ PROPER        Bgy
263    012812028                         BGY. NO. 32-B, LA PAZ WEST        Bgy
264    012812029                          BGY. NO. 54-A, LAGUI-SAIL        Bgy
265    012812030                         BGY. NO. 32-A, LA PAZ EAST        Bgy
266    012812031                       BGY. NO. 33-A, LA PAZ PROPER        Bgy
267    012812032                              BGY. NO. 52-B, LATAAG        Bgy
268    012812033                           BGY. NO. 60-B, MADILADIG        Bgy
...          ...                                                ...        ...
38885  141102013                        CABINET HILL-TEACHER'S CAMP        Bgy
38894  141102028                                     DAGSIAN, UPPER        Bgy
38897  141102034                                 QUIRINO HILL, EAST        Bgy
38898  141102035                                    ENGINEERS' HILL        Bgy
38901  141102038                                GENERAL LUNA, UPPER        Bgy
38902  141102039                                GENERAL LUNA, LOWER        Bgy
38918  141102058                                     DAGSIAN, LOWER        Bgy
38919  141102059                         LOURDES SUBDIVISION, LOWER        Bgy
38920  141102061                                QUIRINO HILL, LOWER        Bgy
38921  141102062  GENERAL EMILIO F. AGUINALDO (QUIRINO-MAGSAYSAY...        Bgy
38924  141102065                                   MAGSAYSAY, LOWER        Bgy
38928  141102069                               QUIRINO HILL, MIDDLE        Bgy
38931  141102074                                  MODERN SITE, EAST        Bgy
38932  141102075                                  MODERN SITE, WEST        Bgy
38934  141102078                         AURORA HILL, NORTH CENTRAL        Bgy
38935  141102079                               SANITARY CAMP, NORTH        Bgy
38944  141102092                                 ROCK QUARRY, LOWER        Bgy
38957  141102109                               SANITARY CAMP, SOUTH        Bgy
38961  141102114                                 ROCK QUARRY, UPPER        Bgy
38963  141102116                                 QUIRINO HILL, WEST        Bgy
38967  141102122                        LOURDES SUBDIVISION, PROPER        Bgy
38968  141102124                QUIRINO-MAGSAYSAY, UPPER (UPPER QM)        Bgy
38971  141102128                         AURORA HILL, SOUTH CENTRAL        Bgy
38992  141102150                                 QUEZON HILL, UPPER        Bgy
38993  141102151                                ROCK QUARRY, MIDDLE        Bgy
39000  141102159                                   MAGSAYSAY, UPPER        Bgy
39001  141102160                          MARKET SUBDIVISION, UPPER        Bgy
42277  157004015                                             BAGID*        Bgy
42782  160304005                                        OSMEÑA, SR.        Bgy
43731  168502014                                      R. ECLEO, SR.        Bgy

[177 rows x 3 columns]

Aside for alternate names, there are those starting with `BGY. NO. X,`:

In [44]:
barangays[barangays['location'].str.contains('^B[GR]Y. NO.')]

          code                        location interlevel
238  012812001              BGY. NO. 42, APAYA        Bgy
239  012812002             BGY. NO. 36, ARANIW        Bgy
240  012812003     BGY. NO. 56-A, BACSIL NORTH        Bgy
241  012812004     BGY. NO. 56-B, BACSIL SOUTH        Bgy
242  012812005            BGY. NO. 41, BALACAD        Bgy
243  012812006           BGY. NO. 40, BALATONG        Bgy
244  012812007     BGY. NO. 55-A, BARIT-PANDAN        Bgy
245  012812008            BGY. NO. 47, BENGCAG        Bgy
246  012812009            BGY. NO. 50, BUTTONG        Bgy
247  012812010         BGY. NO. 60-A, CAAOACAN        Bgy
248  012812011  BRY. NO. 48-A, CABUNGAAN NORTH        Bgy
249  012812012  BGY. NO. 48-B, CABUNGAAN SOUTH        Bgy
250  012812013            BGY. NO. 37, CALAYAB        Bgy
251  012812014        BGY. NO. 54-B, CAMANGAAN        Bgy
252  012812015             BGY. NO. 58, CASILI        Bgy
253  012812016            BGY. NO. 61, CATABAN        Bgy
254  012812017              BGY. NO. 43, CAVIT        Bgy
255  012812019         BGY. NO. 49-A, DARAYDAY        Bgy
256  012812020      BGY. NO. 59-B, DIBUA NORTH        Bgy
257  012812021      BGY. NO. 59-A, DIBUA SOUTH        Bgy
258  012812022  BGY. NO. 34-B, GABU NORTE EAST        Bgy
259  012812023  BGY. NO. 34-A, GABU NORTE WEST        Bgy
260  012812024           BGY. NO. 35, GABU SUR        Bgy
261  012812026       BGY. NO. 32-C LA PAZ EAST        Bgy
262  012812027    BGY. NO. 33-B, LA PAZ PROPER        Bgy
263  012812028      BGY. NO. 32-B, LA PAZ WEST        Bgy
264  012812029       BGY. NO. 54-A, LAGUI-SAIL        Bgy
265  012812030      BGY. NO. 32-A, LA PAZ EAST        Bgy
266  012812031    BGY. NO. 33-A, LA PAZ PROPER        Bgy
267  012812032           BGY. NO. 52-B, LATAAG        Bgy
..         ...                             ...        ...
288  012812055       BGY. NO. 28, SAN BERNARDO        Bgy
289  012812056      BGY. NO. 17, SAN FRANCISCO        Bgy
290  012812057       BGY. NO. 4, SAN GUILLERMO        Bgy
291  012812058      BGY. NO. 15, SAN GUILLERMO        Bgy
292  012812059         BGY. NO. 12, SAN ISIDRO        Bgy
293  012812060        BGY. NO. 16, SAN JACINTO        Bgy
294  012812061           BGY. NO. 10, SAN JOSE        Bgy
295  012812062         BGY. NO. 1, SAN LORENZO        Bgy
296  012812063      BGY. NO. 26, SAN MARCELINO        Bgy
297  012812064        BGY. NO. 52-A, SAN MATEO        Bgy
298  012812065         BGY. NO. 23, SAN MATIAS        Bgy
299  012812066         BGY. NO. 20, SAN MIGUEL        Bgy
300  012812067          BGY. NO. 21, SAN PEDRO        Bgy
301  012812068           BGY. NO. 5, SAN PEDRO        Bgy
302  012812069        BRY. NO. 18, SAN QUIRINO        Bgy
303  012812070         BGY. NO. 8, SAN VICENTE        Bgy
304  012812071        BGY. NO. 9, SANTA ANGELA        Bgy
305  012812072      BGY. NO. 11, SANTA BALBINA        Bgy
306  012812073     BGY. NO. 25, SANTA CAYETANA        Bgy
307  012812074      BGY. NO. 2, SANTA JOAQUINA        Bgy
308  012812075      BGY. NO. 19, SANTA MARCELA        Bgy
309  012812076      BGY. NO. 30-B, SANTA MARIA        Bgy
310  012812077         BGY. NO. 39, SANTA ROSA        Bgy
311  012812078        BGY. NO. 14, SANTO TOMAS        Bgy
312  012812079        BGY. NO. 29, SANTO TOMAS        Bgy
313  012812080             BGY. NO. 30-A, SUYO        Bgy
314  012812081          BGY. NO. 31, TALINGAAN        Bgy
315  012812082             BGY. NO. 45, TANGID        Bgy
316  012812083             BGY. NO. 55-C, VIRA        Bgy
317  012812084          BGY. NO. 44, ZAMBOANGA        Bgy

[80 rows x 3 columns]

Let's set the `BGY. NO. X` bit as `alt_location`:

In [45]:
pat_expand_bgy_location = re.compile('(B[GR]Y. NO. \d+\-?\w?),? (.+)')
def expand_bgy_location(row):
    m = pat_expand_bgy_location.search(row['location'])
    if m:
        alt_location, location = m.groups()
        return {
            **row,
            'location': location.strip(),
            'alt_location': alt_location.strip(),
        }
    return expand_location(row)
barangays = barangays.apply(expand_bgy_location, axis=1, result_type='expand').fillna('')

Check if we got all (there should be 80):

In [46]:
barangays[barangays['alt_location'].str.contains('B[GR]Y. NO.')]

      alt_location       code interlevel         location
238    BGY. NO. 42  012812001        Bgy            APAYA
239    BGY. NO. 36  012812002        Bgy           ARANIW
240  BGY. NO. 56-A  012812003        Bgy     BACSIL NORTH
241  BGY. NO. 56-B  012812004        Bgy     BACSIL SOUTH
242    BGY. NO. 41  012812005        Bgy          BALACAD
243    BGY. NO. 40  012812006        Bgy         BALATONG
244  BGY. NO. 55-A  012812007        Bgy     BARIT-PANDAN
245    BGY. NO. 47  012812008        Bgy          BENGCAG
246    BGY. NO. 50  012812009        Bgy          BUTTONG
247  BGY. NO. 60-A  012812010        Bgy         CAAOACAN
248  BRY. NO. 48-A  012812011        Bgy  CABUNGAAN NORTH
249  BGY. NO. 48-B  012812012        Bgy  CABUNGAAN SOUTH
250    BGY. NO. 37  012812013        Bgy          CALAYAB
251  BGY. NO. 54-B  012812014        Bgy        CAMANGAAN
252    BGY. NO. 58  012812015        Bgy           CASILI
253    BGY. NO. 61  012812016        Bgy          CATABAN
254    BGY. NO. 43  012812017        Bgy            CAVIT
255  BGY. NO. 49-A  012812019        Bgy         DARAYDAY
256  BGY. NO. 59-B  012812020        Bgy      DIBUA NORTH
257  BGY. NO. 59-A  012812021        Bgy      DIBUA SOUTH
258  BGY. NO. 34-B  012812022        Bgy  GABU NORTE EAST
259  BGY. NO. 34-A  012812023        Bgy  GABU NORTE WEST
260    BGY. NO. 35  012812024        Bgy         GABU SUR
261  BGY. NO. 32-C  012812026        Bgy      LA PAZ EAST
262  BGY. NO. 33-B  012812027        Bgy    LA PAZ PROPER
263  BGY. NO. 32-B  012812028        Bgy      LA PAZ WEST
264  BGY. NO. 54-A  012812029        Bgy       LAGUI-SAIL
265  BGY. NO. 32-A  012812030        Bgy      LA PAZ EAST
266  BGY. NO. 33-A  012812031        Bgy    LA PAZ PROPER
267  BGY. NO. 52-B  012812032        Bgy           LATAAG
..             ...        ...        ...              ...
288    BGY. NO. 28  012812055        Bgy     SAN BERNARDO
289    BGY. NO. 17  012812056        Bgy    SAN FRANCISCO
290     BGY. NO. 4  012812057        Bgy    SAN GUILLERMO
291    BGY. NO. 15  012812058        Bgy    SAN GUILLERMO
292    BGY. NO. 12  012812059        Bgy       SAN ISIDRO
293    BGY. NO. 16  012812060        Bgy      SAN JACINTO
294    BGY. NO. 10  012812061        Bgy         SAN JOSE
295     BGY. NO. 1  012812062        Bgy      SAN LORENZO
296    BGY. NO. 26  012812063        Bgy    SAN MARCELINO
297  BGY. NO. 52-A  012812064        Bgy        SAN MATEO
298    BGY. NO. 23  012812065        Bgy       SAN MATIAS
299    BGY. NO. 20  012812066        Bgy       SAN MIGUEL
300    BGY. NO. 21  012812067        Bgy        SAN PEDRO
301     BGY. NO. 5  012812068        Bgy        SAN PEDRO
302    BRY. NO. 18  012812069        Bgy      SAN QUIRINO
303     BGY. NO. 8  012812070        Bgy      SAN VICENTE
304     BGY. NO. 9  012812071        Bgy     SANTA ANGELA
305    BGY. NO. 11  012812072        Bgy    SANTA BALBINA
306    BGY. NO. 25  012812073        Bgy   SANTA CAYETANA
307     BGY. NO. 2  012812074        Bgy   SANTA JOAQUINA
308    BGY. NO. 19  012812075        Bgy    SANTA MARCELA
309  BGY. NO. 30-B  012812076        Bgy      SANTA MARIA
310    BGY. NO. 39  012812077        Bgy       SANTA ROSA
311    BGY. NO. 14  012812078        Bgy      SANTO TOMAS
312    BGY. NO. 29  012812079        Bgy      SANTO TOMAS
313  BGY. NO. 30-A  012812080        Bgy             SUYO
314    BGY. NO. 31  012812081        Bgy        TALINGAAN
315    BGY. NO. 45  012812082        Bgy           TANGID
316  BGY. NO. 55-C  012812083        Bgy             VIRA
317    BGY. NO. 44  012812084        Bgy        ZAMBOANGA

[80 rows x 4 columns]

Another check for weird stuff:

In [47]:
barangays[barangays['location'].str.contains('[^A-ZÑ0-9 \-.,\/]')]

        alt_location       code interlevel                         location
3649    VALLEY COVE*  021506049        Bgy                     C. VERZOSA (
4723   VILLA MARCOS*  023114025        Bgy                 CABESERIA 6 & 24
5934                  030806003        Bgy                   KITANG 2 & LUZ
6177                  031407014        Bgy                       IBA O'ESTE
6859                  034906018        Bgy                   DISTRICT I  I)
6860                  034906019        Bgy                 DISTRICT II  II)
6861                  034906021        Bgy                 DISTRICT IV  IV)
6862                  034906022        Bgy                   DISTRICT V  V)
6863                  034906023        Bgy                 DISTRICT VI  VI)
6864                  034906024        Bgy               DISTRICT VII  VII)
6865                  034906025        Bgy             DISTRICT VIII  VIII)
7030                  034911066        Bgy                  TAMPAC II & III
8204                  036904013        Bgy                        O'DONNELL
10758                 042115008        Bgy                   PALANGUE 2 & 3
14991                 050506005        Bgy             BGY. 1 - EM'S BARRIO
15000                 050506016        Bgy       BGY. 2 - EM'S BARRIO SOUTH
15011                 050506027        Bgy        BGY. 3 - EM'S BARRIO EAST
19974                 063006029        Bgy                         FUENTES*
21472                 063041002        Bgy  BGY. 10  R.V.SANCHEZ ST. SOUTH)
30934                 097227014        Bgy                           TUGOP*
31864           RUIZ  098305038        Bgy                VETERAN'S VILLAGE
36287                 126316032        Bgy                          T'BOLOK
36396                 126504007        Bgy                        D'LOTILLA
36560                 126511005        Bgy                        D'LEDESMA
36720                 128007006        Bgy                           B'LAAN
38885                 141102013        Bgy      CABINET HILL-TEACHER'S CAMP
38898                 141102035        Bgy                  ENGINEERS' HILL
42277                 157004015        Bgy                           BAGID*
43042                 166706009        Bgy                    TAYAGA  EAST)
43043                 166706010        Bgy                   BAGAKAY  WEST)

Trim weird stuff:

In [48]:
barangays['location'] = barangays['location'].str.strip('[\*\(\)]')
barangays['alt_location'] = barangays['alt_location'].str.strip('[\*\(\)]')

Last check!

In [49]:
barangays[barangays['location'].str.contains('[^A-ZÑ0-9 \-.,\/]')]

       alt_location       code interlevel                     location
4723   VILLA MARCOS  023114025        Bgy             CABESERIA 6 & 24
5934                 030806003        Bgy               KITANG 2 & LUZ
6177                 031407014        Bgy                   IBA O'ESTE
7030                 034911066        Bgy              TAMPAC II & III
8204                 036904013        Bgy                    O'DONNELL
10758                042115008        Bgy               PALANGUE 2 & 3
14991                050506005        Bgy         BGY. 1 - EM'S BARRIO
15000                050506016        Bgy   BGY. 2 - EM'S BARRIO SOUTH
15011                050506027        Bgy    BGY. 3 - EM'S BARRIO EAST
31864          RUIZ  098305038        Bgy            VETERAN'S VILLAGE
36287                126316032        Bgy                      T'BOLOK
36396                126504007        Bgy                    D'LOTILLA
36560                126511005        Bgy                    D'LEDESMA
36720                128007006        Bgy                       B'LAAN
38885                141102013        Bgy  CABINET HILL-TEACHER'S CAMP
38898                141102035        Bgy              ENGINEERS' HILL

## ARMM: Cotabato and Isabela City

In [50]:
armm = psgc[psgc['interlevel'].isnull()].copy()
armm

            code                          location interlevel
32149  099700000  CITY OF ISABELA (NOT A PROVINCE)        NaN
36746  129800000    COTABATO CITY (NOT A PROVINCE)        NaN

In [51]:
armm['location'] = armm['location'].str.replace('\(Not a Province\)', '')
armm

            code                          location interlevel
32149  099700000  CITY OF ISABELA (NOT A PROVINCE)        NaN
36746  129800000    COTABATO CITY (NOT A PROVINCE)        NaN

In [52]:
armm['location'] = (armm['location']
 .str.replace('^.*CITY OF', '')
 .str.strip()
 .str.replace('CITY$', '')
 .str.strip())
armm

            code                        location interlevel
32149  099700000        ISABELA (NOT A PROVINCE)        NaN
36746  129800000  COTABATO CITY (NOT A PROVINCE)        NaN

## All together now

In [53]:
merged = pd.concat([
    regions,
    provinces,
    districts,
    municipalities,
    cities,
    sub_municipalities,
    barangays,
    armm
], sort=True).sort_index().fillna('')

Are counts still correct?

In [54]:
psgc['interlevel'].value_counts()

Bgy       42044
Mun        1489
City        145
Prov         81
Reg          17
SubMun       14
Dist          4
Name: interlevel, dtype: int64

In [55]:
merged['interlevel'].value_counts()

Bgy       42044
Mun        1489
City        145
Prov         81
Reg          17
SubMun       14
Dist          4
              2
Name: interlevel, dtype: int64

In [56]:
display(len(merged), len(psgc))

43796

43796

Extract alternate locations into a new dataframe:

In [57]:
alt = merged[merged['alt_location'] != ''].copy()
alt['location'] = alt.pop('alt_location')

In [58]:
alt

            code interlevel       location
0      010000000        Reg  ILOCOS REGION
49     012803001        Bgy      ALAY 15-B
70     012803027        Bgy      PAGUETPET
112    012805018        Bgy        CAOAYAN
114    012805020        Bgy          CUBOL
116    012805022        Bgy         ILOILO
117    012805023        Bgy        LABUCAO
124    012805030        Bgy        NALASIN
144    012806007        Bgy       MALITUEK
183    012809004        Bgy         BANGAY
197    012809019        Bgy      NAGLAYAAN
198    012809020        Bgy         PADONG
201    012809023        Bgy        BALDIAS
206    012809028        Bgy        SIDIRAN
207    012809029        Bgy        SURRATE
212    012810001        Bgy       DUMALNEG
214    012810003        Bgy       DUMALNEG
215    012810004        Bgy       DUMALNEG
216    012811000        Mun       ESPIRITU
237    012812000       City        CAPITAL
238    012812001        Bgy    BGY. NO. 42
239    012812002        Bgy    BGY. NO. 36
240    012812003        Bgy  BGY. NO. 56-A
241    012812004        Bgy  BGY. NO. 56-B
242    012812005        Bgy    BGY. NO. 41
243    012812006        Bgy    BGY. NO. 40
244    012812007        Bgy  BGY. NO. 55-A
245    012812008        Bgy    BGY. NO. 47
246    012812009        Bgy    BGY. NO. 50
247    012812010        Bgy  BGY. NO. 60-A
...          ...        ...            ...
43107  166710008        Bgy       PUROK II
43108  166710009        Bgy      PUROK III
43109  166710010        Bgy       PUROK IV
43110  166710011        Bgy        PUROK V
43128  166711009        Bgy          BONOT
43156  166715001        Bgy      BINOCARAN
43193  166717008        Bgy          NONOK
43214  166719000        Mun       ANAO-AON
43239  166721000        Mun          SAPAO
43258  166722008        Bgy      SAN PEDRO
43279  166724000       City        CAPITAL
43284  166724005        Bgy       BAD-ASAY
43320  166724042        Bgy        HANIGAD
43355  166727006        Bgy          TUBOD
43393  166803004        Bgy    CADANGLASAN
43404  166803015        Bgy         BAGNAN
43423  166804008        Bgy          PALHE
43492  166809021        Bgy         BITOON
43503  166809041        Bgy         ZONE I
43607  166816011        Bgy         MAITUM
43666  166819000       City        CAPITAL
43671  166819005        Bgy      EAST WEST
43689  168501000        Mun          RIZAL
43697  168501009        Bgy       BACTASAN
43730  168502013        Bgy          BORJA
43745  168504000        Mun          ALBOR
43751  168504006        Bgy    BOLOD-BOLOD
43773  168506000        Mun        CAPITAL
43776  168506003        Bgy       BALTAZAR
43791  168507005        Bgy      ROMUALDEZ

[1845 rows x 3 columns]

Concat alternate locations and do final cleanup on location name:

In [59]:
clean_psgc = (pd.concat([merged.drop(columns=['alt_location']), alt], ignore_index=True)
              .sort_values('code')
              .reset_index(drop=True))

Normalize `Ñ` and remove remaining `*`s:

In [60]:
clean_psgc['location'] = (clean_psgc['location']
                          .str.replace('Ñ', 'N')
                          .str.replace('\*', ''))

Normalize numbers:

In [61]:
spanish = clean_psgc[clean_psgc['location'].str.contains(' (UNO|DOS|TRES|KUATRO|SINGKO)$')].copy()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [62]:
for i, s in enumerate([
    'UNO',
    'DOS',
    'TRES',
    'KUATRO',
    'SINGKO',
]):
    spanish['location'] = spanish['location'].str.replace(' {}$'.format(s), ' {}'.format(i + 1))
spanish

            code interlevel       location
9687   041006023        Bgy    MANGHINAO 1
9695   041006032        Bgy   SAN ANDRES 1
11656  043404017        Bgy     BARANGAY 1
11657  043404018        Bgy     BARANGAY 2
11658  043404019        Bgy     BARANGAY 3
29675  086415013        Bgy    ESPERANZA 2
30024  097203016        Bgy     BARANGAY 1
30025  097203017        Bgy     BARANGAY 2
30694  097302017        Bgy        CAMPO 1
30768  097305024        Bgy       SUGBAY 1
31432  097338012        Bgy       SUGBAY 2
34454  112401025        Bgy    POBLACION 2
37702  137402003        Bgy   CONCEPCION 1
37711  137402012        Bgy   CONCEPCION 2
38194  137601001        Bgy      ALMANZA 1
38198  137601005        Bgy       MANUYO 1
38199  137601006        Bgy     PAMPLONA 1
38200  137601007        Bgy  PULANG LUPA 1
38201  137601008        Bgy        TALON 1
38203  137601010        Bgy      ALMANZA 2
38205  137601012        Bgy       MANUYO 2
38206  137601013        Bgy     PAMPLONA 2
38207  137601014        Bgy     PAMPLONA 3
38209  137601016        Bgy  PULANG LUPA 2
38210  137601017        Bgy        TALON 2
38211  137601018        Bgy        TALON 3
38212  137601019        Bgy        TALON 4
38213  137601020        Bgy        TALON 5
39872  150702018        Bgy        CAMPO 1

In [63]:
roman = clean_psgc[clean_psgc['location'].str.contains('\s(X{0,3})(IX|IV|V?I{0,3})$')].copy()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [64]:
for i, s in enumerate('I,II,III,IV,V,VI,VII,VIII,IX,X,XI,XII,XIII,XIV,XV,XVI,XVII,XVIII,XIX,XX,XXI,XXII'.split(',')):
    roman['location'] = roman['location'].str.replace(' {}$'.format(s), ' {}'.format(i + 1))
roman

            code interlevel          location
0      010000000        Reg          REGION 1
27     012802024        Bgy     SAN AGUSTIN 1
28     012802025        Bgy     SAN AGUSTIN 2
29     012802027        Bgy      SAN ANDRES 1
30     012802028        Bgy      SAN ANDRES 2
31     012802030        Bgy     SAN GABRIEL 1
32     012802031        Bgy     SAN GABRIEL 2
33     012802033        Bgy       SAN PEDRO 1
34     012802034        Bgy       SAN PEDRO 2
35     012802036        Bgy       SAN ROQUE 1
36     012802037        Bgy       SAN ROQUE 2
37     012802039        Bgy       SAN SIMON 1
38     012802040        Bgy       SAN SIMON 2
41     012802044        Bgy  SANTA FILOMENA 1
42     012802045        Bgy  SANTA FILOMENA 2
44     012802047        Bgy    SANTO CRISTO 1
45     012802048        Bgy    SANTO CRISTO 2
180    012808017        Bgy       POBLACION 1
181    012808018        Bgy       POBLACION 2
1485   012934003        Bgy        BARANGAY 1
1486   012934004        Bgy        BARANGAY 2
1487   012934005        Bgy        BARANGAY 3
1488   012934006        Bgy        BARANGAY 4
1489   012934007        Bgy        BARANGAY 5
1490   012934008        Bgy        BARANGAY 6
1519   012934038        Bgy        BARANGAY 7
1520   012934039        Bgy        BARANGAY 8
1521   012934040        Bgy        BARANGAY 9
1936   013314006        Bgy        BARANGAY 1
1937   013314007        Bgy        BARANGAY 2
...          ...        ...               ...
44901  175215018        Bgy       POBLACION 1
44902  175215019        Bgy       POBLACION 2
44903  175215020        Bgy       POBLACION 3
44904  175215021        Bgy       POBLACION 4
44981  175304024        Bgy       POBLACION 1
44982  175304025        Bgy       POBLACION 2
44983  175304026        Bgy       POBLACION 3
44984  175304027        Bgy       POBLACION 4
44985  175304028        Bgy       POBLACION 5
44986  175304029        Bgy       POBLACION 6
45023  175306017        Bgy       POBLACION 1
45024  175306018        Bgy       POBLACION 2
45070  175309016        Bgy        BARANGAY 1
45071  175309017        Bgy        BARANGAY 2
45072  175309018        Bgy        BARANGAY 3
45073  175309019        Bgy        BARANGAY 4
45074  175309020        Bgy        BARANGAY 5
45080  175309032        Bgy        BARANGAY 6
45257  175317001        Bgy        ALFONSO 13
45300  175318029        Bgy        BARANGAY 2
45301  175318030        Bgy        BARANGAY 3
45302  175318031        Bgy        BARANGAY 4
45304  175318032        Bgy        BARANGAY 5
45306  175318033        Bgy        BARANGAY 6
45393  175324007        Bgy           PULOT 2
45395  175324008        Bgy           PULOT 1
45555  175910025        Bgy        BARANGAY 1
45556  175910026        Bgy        BARANGAY 2
45557  175910027        Bgy        BARANGAY 3
45558  175910028        Bgy        BARANGAY 4

[1406 rows x 3 columns]

Provide alternate names for locations with President names

In [65]:
president = clean_psgc[clean_psgc.location.str.contains('PRES\.', flags=re.IGNORECASE)].copy()
president['location'] = president['location'].str.replace('^PRES\.', 'PRESIDENT')

# Add alternative names to the Manila districts

In [66]:
alt_ncr_as_manila = clean_psgc[clean_psgc.interlevel == 'Dist'].copy()
alt_ncr_as_manila['location'] = alt_ncr_as_manila['location'].str.replace('NCR', 'MANILA')

alt_ncr_abbvr_expanded = clean_psgc[clean_psgc.interlevel == 'Dist'].copy()
alt_ncr_abbvr_expanded['location'] = alt_ncr_abbvr_expanded['location'].str.replace('NCR', 'NATIONAL CAPITAL REGION')

alt_districts = pd.concat([alt_ncr_as_manila, alt_ncr_abbvr_expanded], ignore_index=True)
alt_districts

        code interlevel                                           location
0  133900000       Dist  MANILA, CITY OF MANILA, FIRST DISTRICT (NOT A ...
1  137400000       Dist           MANILA, SECOND DISTRICT (NOT A PROVINCE)
2  137500000       Dist            MANILA, THIRD DISTRICT (NOT A PROVINCE)
3  137600000       Dist           MANILA, FOURTH DISTRICT (NOT A PROVINCE)
4  133900000       Dist  NATIONAL CAPITAL REGION, CITY OF MANILA, FIRST...
5  137400000       Dist  NATIONAL CAPITAL REGION, SECOND DISTRICT (NOT ...
6  137500000       Dist  NATIONAL CAPITAL REGION, THIRD DISTRICT (NOT A...
7  137600000       Dist  NATIONAL CAPITAL REGION, FOURTH DISTRICT (NOT ...

# Concat the alternates to the main dataframe

In [67]:
clean_psgc = (pd.concat([clean_psgc, spanish, roman, president, alt_districts], ignore_index=True)
              .sort_values('code')
              .reset_index(drop=True))

Last check for weird stuff!

In [68]:
clean_psgc[clean_psgc['location'].str.contains('[^A-Z0-9 \-.,\']')]

            code interlevel                                           location
4036   021511032        Bgy                                CAMALAGGOAN/D LEANO
4046   021511037        Bgy                                      SAYAD/BIMEKEL
5078   023114025        Bgy                                   CABESERIA 6 & 24
5637   023133007        Bgy                                 CADDANGAN/LIMBAUAN
6381   030806003        Bgy                                     KITANG 2 & LUZ
7417   034907000        Mun                                   BITULOK & SABANI
7562   034911066        Bgy                                    TAMPAC II & III
7563   034911066        Bgy                                      TAMPAC II & 3
8871   036905054        Bgy                                       CALUIS/COBRA
11845  042115008        Bgy                                     PALANGUE 2 & 3
12037  042119007        Bgy                             CALABUSO SOUTH & NORTH
14830  050506007        Bgy                                       BGY. 10 & 11
15665  051609007        Bgy                                    SILANGAN/BGY. 1
15669  051609008        Bgy                                    KANLURAN/BGY. 2
18398  056216008        Bgy                                    BITAN-O/DALIPAY
28397  083747008        Bgy                                       BGYS. 3 & 3A
28399  083747010        Bgy                                    BARANGAYS 1 & 4
28478  083747084        Bgy                                 BARANGAYS 55 & 55A
28546  083747134        Bgy                                        V & G SUBD.
33129  099700000                                      ISABELA (NOT A PROVINCE)
37282  126303011        Bgy                                          1ST & 3RD
37954  129800000                                COTABATO CITY (NOT A PROVINCE)
38027  133900000       Dist  MANILA, CITY OF MANILA, FIRST DISTRICT (NOT A ...
38028  133900000       Dist  NATIONAL CAPITAL REGION, CITY OF MANILA, FIRST...
38030  133900000       Dist  NCR, CITY OF MANILA, FIRST DISTRICT (NOT A PRO...
38031  133901000     SubMun                                         TONDO I/II
38942  137400000       Dist  NATIONAL CAPITAL REGION, SECOND DISTRICT (NOT ...
38943  137400000       Dist           MANILA, SECOND DISTRICT (NOT A PROVINCE)
38944  137400000       Dist              NCR, SECOND DISTRICT (NOT A PROVINCE)
39198  137500000       Dist            MANILA, THIRD DISTRICT (NOT A PROVINCE)
39199  137500000       Dist  NATIONAL CAPITAL REGION, THIRD DISTRICT (NOT A...
39200  137500000       Dist               NCR, THIRD DISTRICT (NOT A PROVINCE)
39474  137600000       Dist           MANILA, FOURTH DISTRICT (NOT A PROVINCE)
39475  137600000       Dist  NATIONAL CAPITAL REGION, FOURTH DISTRICT (NOT ...
39476  137600000       Dist              NCR, FOURTH DISTRICT (NOT A PROVINCE)
42782  153808000        Mun                            SHARIFF AGUAK (MAGANOY)
43073  153824008        Bgy                                    SIMUAY/SEASHORE

We can probably still split with `&` and `/` but this is good enough for now.

## Combine the cleaned up PSGC and remove the duplicates

In [69]:
og_psgc['original'] = True
clean_psgc['original'] = False

clean_psgc = pd.concat([og_psgc, clean_psgc], sort=False)
clean_psgc.drop_duplicates(subset=['code', 'location', 'interlevel'], inplace=True)
clean_psgc.sort_values('code', inplace=True)

Check that we have both the original name and the alternate ones

In [70]:
clean_psgc[clean_psgc.code.str.contains('086000000')]

            code               location interlevel  original
28576  086000000  SAMAR (WESTERN SAMAR)       Prov      True
29327  086000000                  SAMAR       Prov     False
29326  086000000          WESTERN SAMAR       Prov     False

In [71]:
clean_psgc.to_csv('clean-psgc.csv.gz', index=False, compression='gzip')

And we're done!